.header{
  height: 80px;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header strong{
  color: var(--gray-100);
  font-size: 2rem;
}

.greenColor{
  color: var(--green-500);
}